header {
    background-image: url("images/header-background.jpg");
    width: 100%;
    height: 93vh;
    background-repeat: no-repeat;
    .header-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        ul {
            display: flex;
            li {
                padding: 0 25px;
                color: white;
                font-weight: lighter;
                i.fa-angle-down {
                    padding-left: 5px;
                    font-size: 13px;
                }
            }
        }
    }
    .header-content {
        h1 {
            color: white;
            width: 628px;
            text-align: center;
            position: relative;
            top: 262px;
            left: 655px;
            font-size: 60px;
        }
    }
}
main {
    .what-we-offer {
        background-color: #f5f6fa;
        padding-bottom: 80px;
        .what-we-offer__heading {
            text-align: center;
            padding-top: 40px;
            .offer-top-arrow {
                position: relative;
                top: 9px;
                left: 33px;
            }
            h2 {
                font-size: 39px;
            }
            .offer-bottom-arrow {
                position: relative;
                right: 37px;
            }
        }
        .what-we-offer__content {
            display: grid;
            grid-template-columns: 350px 350px 350px;
            grid-gap: 80px;
            justify-content: center;
            align-items: center;
            text-align: center;
            div {
                img {
                    width: 100px;
                }
            }
            .lamp {
                .first-image {
                    width: 80px;
                }
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
            .microphone {
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
            .headphones {
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
        }
    }
    .services {
        padding: 40px 0 100px 0;
        .services__heading {
            text-align: center;
            .services-top-arrow {
                position: relative;
                top: 9px;
                left: 33px;
            }
            h2 {
                font-size: 39px;
            }
            .services-bottom-arrow {
                position: relative;
                right: 37px;
            }
        }
        p {
            width: 700px;
            margin: 0 auto;
            text-align: center;
            color: gray;
        }
        .services-gallery {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            justify-content: center;
            margin-top: 40px;
            div {
                p {
                    text-align: left;
                    font-weight: bold;
                    color: black;
                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }
    }
    .about-us {
        background-image: url("images/about-us-background.png");
        width: 100%;
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        text-align: center;
        padding-top: 200px;
        h2 {
            color: white;
            font-size: 39px;
        }
        p {
            color: white;
            width: 480px;
            margin: 0 auto;
        }
    }
    .our-team {
        .our-team__heading {
            text-align: center;
            margin-top: 50px;
            .top-arrow {
                position: relative;
                left: 30px;
            }
            h2 {
                font-size: 39px;
            }
            .bottom-arrow {
                position: relative;
                right: 29px;
            }
        }
        .team-pictures {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            justify-content: center;
            margin-top: 50px;
            p {
                &:first-of-type {
                    color: #4854ed;
                    padding-top: 15px;
                    font-weight: bold;
                }
                &:last-of-type {
                    color: #b3b6c2;
                    padding-top: 15px;
                }
            }
        }
        .btn {
            text-align: center;
            margin: 70px 0 120px 0;
            button {
                background: linear-gradient(#317aed, #f654b1, #8f32a2);
                padding: 10px 29px;
                border: none;
                color: white;
                font-weight: lighter;
            }
        }
    }
    .quality-tracks {
        padding: 50px 0;
        background-color: #29293a;
        display: flex;
        justify-content: center;
        align-items: center;
        .quality-tracks__content {
            padding-right: 50px;
            p {
                font-size: 20px;
                color: gray;
                font-weight: lighter;
                span {
                    font-weight: bold;
                    color: white;
                }
            }
        }
        .quality-tracks__button {
            button {
                background: linear-gradient(#317aed, #f654b1, #8f32a2);
                border: none;
                padding: 10px 20px;
                color: white;
            }
        }
    }
    .latest-blog-posts {
        .latest-blog-posts__heading {
            text-align: center;
            padding-top: 50px;
            .latest-blog-posts-top-arrow {
                position: relative;
                left: 40px;
            }
            h2 {
                font-size: 39px;
            }
            .latest-blog-posts-bottom-arrow {
                position: relative;
                right: 24px;
            }
        }
        .latest-blog-posts__content {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            margin-top: 50px;
            .content {
                position: relative;
                right: 220px;
                .twenty-nine-april-wrapper {
                    display: flex;
                    padding-bottom: 40px;
                }
                .twenty-ninе-april-wrapper__content {
                    margin-left: 20px;
                    h3 {
                        width: 175px;
                        padding-bottom: 33px;
                        color: #4854ed;
                    }
                    p {
                        color: gray;
                        span {
                            margin-left: 20px;
                        }
                    }
                }
            }
        }
        .btn-view-all {
            border: none;
            padding: 10px 20px;
            color: white;
            background: linear-gradient(#317aed, #f654b1, #8f32a2);
            cursor: pointer;
            letter-spacing: 1px;
        }
    }
}
footer{
    background-color:#29293A;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    padding: 20px 0;
    p{
        color: gray;
    }
}
