@charset "UTF-8";
header {
  background-image: url("images/header-background.jpg");
  width: 100%;
  height: 93vh;
  background-repeat: no-repeat;
}

header .header-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header .header-menu ul {
  display: flex;
}

header .header-menu ul li {
  padding: 0 25px;
  color: white;
  font-weight: lighter;
}

header .header-menu ul li i.fa-angle-down {
  padding-left: 5px;
  font-size: 13px;
}

header .header-content h1 {
  color: white;
  width: 628px;
  text-align: center;
  position: relative;
  top: 262px;
  left: 655px;
  font-size: 60px;
}

main .what-we-offer {
  background-color: #f5f6fa;
  padding-bottom: 80px;
}

main .what-we-offer .what-we-offer__heading {
  text-align: center;
  padding-top: 40px;
}

main .what-we-offer .what-we-offer__heading .offer-top-arrow {
  position: relative;
  top: 9px;
  left: 33px;
}

main .what-we-offer .what-we-offer__heading h2 {
  font-size: 39px;
}

main .what-we-offer .what-we-offer__heading .offer-bottom-arrow {
  position: relative;
  right: 37px;
}

main .what-we-offer .what-we-offer__content {
  display: grid;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 80px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main .what-we-offer .what-we-offer__content div img {
  width: 100px;
}

main .what-we-offer .what-we-offer__content .lamp .first-image {
  width: 80px;
}

main .what-we-offer .what-we-offer__content .lamp p:first-of-type {
  font-size: 20px;
  padding: 15px 0;
  font-weight: bold;
}

main .what-we-offer .what-we-offer__content .lamp p:last-of-type {
  color: gray;
  font-size: 19px;
}

main .what-we-offer .what-we-offer__content .microphone p:first-of-type {
  font-size: 20px;
  padding: 15px 0;
  font-weight: bold;
}

main .what-we-offer .what-we-offer__content .microphone p:last-of-type {
  color: gray;
  font-size: 19px;
}

main .what-we-offer .what-we-offer__content .headphones p:first-of-type {
  font-size: 20px;
  padding: 15px 0;
  font-weight: bold;
}

main .what-we-offer .what-we-offer__content .headphones p:last-of-type {
  color: gray;
  font-size: 19px;
}

main .services {
  padding: 40px 0 100px 0;
}

main .services .services__heading {
  text-align: center;
}

main .services .services__heading .services-top-arrow {
  position: relative;
  top: 9px;
  left: 33px;
}

main .services .services__heading h2 {
  font-size: 39px;
}

main .services .services__heading .services-bottom-arrow {
  position: relative;
  right: 37px;
}

main .services p {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  color: gray;
}

main .services .services-gallery {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  margin-top: 40px;
}

main .services .services-gallery div p {
  text-align: left;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  font-size: 18px;
}

main .about-us {
  background-image: url("images/about-us-background.png");
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  text-align: center;
  padding-top: 200px;
}

main .about-us h2 {
  color: white;
  font-size: 39px;
}

main .about-us p {
  color: white;
  width: 480px;
  margin: 0 auto;
}

main .our-team .our-team__heading {
  text-align: center;
  margin-top: 50px;
}

main .our-team .our-team__heading .top-arrow {
  position: relative;
  left: 30px;
}

main .our-team .our-team__heading h2 {
  font-size: 39px;
}

main .our-team .our-team__heading .bottom-arrow {
  position: relative;
  right: 29px;
}

main .our-team .team-pictures {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: center;
  margin-top: 50px;
}

main .our-team .team-pictures p:first-of-type {
  color: #4854ed;
  padding-top: 15px;
  font-weight: bold;
}

main .our-team .team-pictures p:last-of-type {
  color: #b3b6c2;
  padding-top: 15px;
}

main .our-team .btn {
  text-align: center;
  margin: 70px 0 120px 0;
}

main .our-team .btn button {
  background: linear-gradient(#317aed, #f654b1, #8f32a2);
  padding: 10px 29px;
  border: none;
  color: white;
  font-weight: lighter;
}

main .quality-tracks {
  padding: 50px 0;
  background-color: #29293a;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .quality-tracks .quality-tracks__content {
  padding-right: 50px;
}

main .quality-tracks .quality-tracks__content p {
  font-size: 20px;
  color: gray;
  font-weight: lighter;
}

main .quality-tracks .quality-tracks__content p span {
  font-weight: bold;
  color: white;
}

main .quality-tracks .quality-tracks__button button {
  background: linear-gradient(#317aed, #f654b1, #8f32a2);
  border: none;
  padding: 10px 20px;
  color: white;
}

main .latest-blog-posts .latest-blog-posts__heading {
  text-align: center;
  padding-top: 50px;
}

main .latest-blog-posts .latest-blog-posts__heading .latest-blog-posts-top-arrow {
  position: relative;
  left: 40px;
}

main .latest-blog-posts .latest-blog-posts__heading h2 {
  font-size: 39px;
}

main .latest-blog-posts .latest-blog-posts__heading .latest-blog-posts-bottom-arrow {
  position: relative;
  right: 24px;
}

main .latest-blog-posts .latest-blog-posts__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
}

main .latest-blog-posts .latest-blog-posts__content .content {
  position: relative;
  right: 220px;
}

main .latest-blog-posts .latest-blog-posts__content .content .twenty-nine-april-wrapper {
  display: flex;
  padding-bottom: 40px;
}

main .latest-blog-posts .latest-blog-posts__content .content .twenty-ninе-april-wrapper__content {
  margin-left: 20px;
}

main .latest-blog-posts .latest-blog-posts__content .content .twenty-ninе-april-wrapper__content h3 {
  width: 175px;
  padding-bottom: 33px;
  color: #4854ed;
}

main .latest-blog-posts .latest-blog-posts__content .content .twenty-ninе-april-wrapper__content p {
  color: gray;
}

main .latest-blog-posts .latest-blog-posts__content .content .twenty-ninе-april-wrapper__content p span {
  margin-left: 20px;
}

main .latest-blog-posts .btn-view-all {
  border: none;
  padding: 10px 20px;
  color: white;
  background: linear-gradient(#317aed, #f654b1, #8f32a2);
  cursor: pointer;
  letter-spacing: 1px;
}

footer {
  background-color: #29293A;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px 0;
}

footer p {
  color: gray;
}
