header {
    background-image: url("images/header-background.jpg");
    width: 100%;
    height: 93vh;
    background-repeat: no-repeat;
    .header-menu {
        display: flex;
        justify-content: space-around;
        align-items: center;
        ul {
            display: flex;
            li {
                padding: 0 25px;
                color: white;
                font-weight: lighter;
                i.fa-angle-down {
                    padding-left: 5px;
                    font-size: 13px;
                }
            }
        }
    }
    .header-content {
        h1 {
            color: white;
            width: 628px;
            text-align: center;
            position: relative;
            top: 262px;
            left: 655px;
            font-size: 60px;
        }
    }
}
main {
    .what-we-offer {
        background-color: #f5f6fa;
        padding-bottom: 80px;
        .what-we-offer__heading {
            text-align: center;
            padding-top: 40px;
            .offer-top-arrow {
                position: relative;
                top: 9px;
                left: 33px;
            }
            h2 {
                font-size: 39px;
            }
            .offer-bottom-arrow {
                position: relative;
                right: 37px;
            }
        }
        .what-we-offer__content {
            display: grid;
            grid-template-columns: 350px 350px 350px;
            grid-gap: 80px;
            justify-content: center;
            align-items: center;
            text-align: center;
            div {
                img {
                    width: 100px;
                }
            }
            .lamp {
                .first-image {
                    width: 80px;
                }
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
            .microphone {
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
            .headphones {
                p {
                    &:first-of-type {
                        font-size: 20px;
                        padding: 15px 0;
                        font-weight: bold;
                    }
                    &:last-of-type {
                        color: gray;
                        font-size: 19px;
                    }
                }
            }
        }
    }
    .services {
        padding: 40px 0 100px 0;
        .services__heading {
            text-align: center;
            .services-top-arrow {
                position: relative;
                top: 9px;
                left: 33px;
            }
            h2 {
                font-size: 39px;
            }
            .services-bottom-arrow {
                position: relative;
                right: 37px;
            }
        }
        p {
            width: 700px;
            margin: 0 auto;
            text-align: center;
            color: gray;
        }
        .services-gallery {
            display: grid;
            grid-template-columns: repeat(4, 300px);
            justify-content: center;
            margin-top: 40px;
            div {
                p {
                    text-align: left;
                    font-weight: bold;
                    color: black;
                    padding-top: 10px;
                    font-size: 18px;
                }
            }
        }
    }
}
